In [1]:
from random import randint, choice
from functools import reduce

In [43]:
# Carros
# Utilizando somente dados numéricos por enquanto

# lista das grandezas
# Valor Base:
ano = 2010
motor = 1.0
valor = 10999
VB = [ano, motor]

# Valores aleatórios dos motores e anos
#m = [1.0, 1.6, 1.8, 2.0]
#y = randint(2010, 2020)
#mt = choice(m)
#VA = [y, mt]

# Função create_dict()
# o valor de X (carro) será obtido através de uma regra de três composta;
# no caso aqui vamos considerar que as grandezas são diretamente proporcionais.
# após calcular o valor de x, será criado um dicionário com estes novos dados.
# Quantidade de dados inseridos no dicionário:

def reg_three_comp(VB, VA, valor):
    
    a = reduce(lambda x, y: x * y, VB)
    b = reduce(lambda x, y: x * y, VA)
    
    X = (valor * b) / a
    
    return X


def create_dict(qtde):
    
    years = []
    motors = []
    val = []
    auto = {}
    
    for i in range(0, qtde):
        
        m = [1.0, 1.6, 1.8, 2.0]
        y = randint(2010, 2020)
        mt = choice(m)
        
        VA = [y, mt]
        
        x = round(reg_three_comp(VB, VA, valor))
        
        years.append(y)
        motors.append(mt)
        val.append(x)
        
        auto['ano'] = years
        auto['motor'] = motors
        auto['valor'] = val
        
    return auto

In [44]:
qtde = int(input('Quantidade de dados a serem lançados: '))

Quantidade de dados a serem lançados:  50000

In [45]:
resultado = create_dict(qtde)

In [46]:
type(resultado)

dict

In [47]:
# importando biblioteca Pandas para manipulação destes dados
import pandas as pd

In [48]:
# criando um dataframe
data = pd.DataFrame(resultado)

In [49]:
# tipo de dado
type(data)

pandas.core.frame.DataFrame

In [50]:
# imprimindo o dataframe
data.head()

    ano  motor  valor
0  2017    1.8  19867
1  2013    2.0  22031
2  2018    2.0  22086
3  2020    2.0  22107
4  2015    1.0  11026

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ano     50000 non-null  int64
 1   motor   50000 non-null  float64
 2   valor   50000 non-null  int64
dtypes: float64(1), int64(2)
memory usage: 1.1 MB

In [52]:
import pandas as pd
import numpy as np

from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

In [53]:
dataset = pd.DataFrame(data)

In [54]:
dataset.head()

    ano  motor  valor
0  2017    1.8  19867
1  2013    2.0  22031
2  2018    2.0  22086
3  2020    2.0  22107
4  2015    1.0  11026

In [55]:
y = dataset.valor

In [56]:
y.shape

(50000,)

In [57]:
features = 'ano motor'.split()

X = dataset[features]

In [58]:
X.shape

(50000, 2)

In [59]:
model = DecisionTreeRegressor(random_state=1)

In [60]:
model.fit(X, y)

DecisionTreeRegressor(random_state=1)

In [61]:
preds = model.predict(X)

In [62]:
for p in preds[0:5]:
    print(p)

19867.0
22031.0
22086.0
22107.0
11026.0

In [63]:
y.head()

0    19867
1    22031
2    22086
3    22107
4    11026
Name: valor, dtype: int64

In [64]:
val_mae = mean_absolute_error(preds, y)

In [65]:
val_mae

0.0

In [66]:
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)

In [67]:
print(f'{train_X.shape}\t{train_y.shape}\t{val_X.shape}\t\t{val_y.shape}')

(37500, 2)	(37500,)	(12500, 2)		(12500,)

In [68]:
model_train = DecisionTreeRegressor(random_state=2)

model_train.fit(train_X, train_y)

preds_train = model_train.predict(val_X)

mae = mean_absolute_error(preds_train, val_y)

for p in preds_train[0:5]:
    print(f'{p:.0f}\t\t{mae}')

22075		0.0
17668		0.0
19818		0.0
22075		0.0
17625		0.0

In [71]:
val_X.head()

        ano  motor
26247  2017    2.0
35067  2018    1.6
34590  2012    1.8
16668  2017    2.0
12196  2013    1.6

In [70]:
val_y.head()

26247    22075
35067    17668
34590    19818
16668    22075
12196    17625
Name: valor, dtype: int64

In [69]:
y.head()

0    19867
1    22031
2    22086
3    22107
4    11026
Name: valor, dtype: int64